<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z_tknight.oa.persist.mapper.TDepartmentMapper" >

	<!-- pojo类属性和对应表的结果集映射关系 -->
	<resultMap id="BaseResultMap" type="z_tknight.oa.model.entity.TDepartment">
		<id column="dept_no" property="deptNo" jdbcType="INTEGER" />
		<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
		<result column="user_no" property="userNo" jdbcType="INTEGER" />
		<result column="superior_dept_no" property="superiorDeptNo" jdbcType="INTEGER" />
		<result column="t_board_space" property="tBoardSpace" jdbcType="INTEGER" />
	</resultMap>

	<!-- 条件从句 -->
	<sql id="Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<!-- 条件从句 -->
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		dept_no,
		dept_name,
		user_no,
		superior_dept_no,
		t_board_space
	</sql>
	<!-- 统计符合自定义条件的数据个数 -->
	<select id="countByExample" parameterType="z_tknight.oa.model.entity.TDepartmentExample"
		resultType="java.lang.Integer">
		select count(*) from t_department
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<!-- 自定义条件删除数据 -->
	<delete id="deleteByExample" parameterType="z_tknight.oa.model.entity.TDepartmentExample">
		delete from t_department
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<!-- 根据主键删除单条数据 -->
	<delete id="deleteByPrimaryKey">
		delete from t_department
		<!-- 传入主键作为条件 -->
		where
		dept_no = #{deptNo, jdbcType=INTEGER} 
	</delete>

	<!-- 插入单条数据 -->
	<insert id="insert" parameterType="z_tknight.oa.model.entity.TDepartment">
		insert into t_department (
			dept_no,
			dept_name,
			user_no,
			superior_dept_no,
			t_board_space
		)
		values (
			#{deptNo, jdbcType=INTEGER},
			#{deptName, jdbcType=VARCHAR},
			#{userNo, jdbcType=INTEGER},
			#{superiorDeptNo, jdbcType=INTEGER},
			#{tBoardSpace, jdbcType=INTEGER}
		)
	</insert>

	<!-- 有选择的插入单条数据 -->
	<insert id="insertSelective" parameterType="z_tknight.oa.model.entity.TDepartment">
		insert into t_department
		<!-- 前缀为"("、后缀为")"、去掉最后一个"," -->
		<!-- 插入属性 -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="deptNo != null">
				dept_no,
			</if>
			<if test="deptName != null">
				dept_name,
			</if>
			<if test="userNo != null">
				user_no,
			</if>
			<if test="superiorDeptNo != null">
				superior_dept_no,
			</if>
			<if test="tBoardSpace != null">
				t_board_space,
			</if>
		</trim>
		<!-- 插入内容 -->
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="deptNo != null">
				#{deptNo, jdbcType=INTEGER},
			</if>
			<if test="deptName != null">
				#{deptName, jdbcType=VARCHAR},
			</if>
			<if test="userNo != null">
				#{userNo, jdbcType=INTEGER},
			</if>
			<if test="superiorDeptNo != null">
				#{superiorDeptNo, jdbcType=INTEGER},
			</if>
			<if test="tBoardSpace != null">
				#{tBoardSpace, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 查询符合自定义条件的数据 -->
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="z_tknight.oa.model.entity.TDepartmentExample">
		select
		<!-- 判断是否使用distinct查询 -->
		<if test="distinct">
			distinct
		</if>
		<!-- 查询字段 -->
		<include refid="Base_Column_List" />
		from t_department
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<!-- 判断是否指定排序从句 -->
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!-- 根据主键查询单条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_department
		<!-- #表示占位符、$表示拼接 -->
		where
		dept_no = #{deptNo, jdbcType=INTEGER} 
	</select>

	<!-- 自定义条件的有选择性的修改某些属性，可修改主键 -->
	<update id="updateByExampleSelective">
		update t_department
		<!-- 修改属性，可修改主键 -->
		<set>
			<if test="record.deptNo != null">
				dept_no = #{record.deptNo, jdbcType=INTEGER},
			</if>
			<if test="record.deptName != null">
				dept_name = #{record.deptName, jdbcType=VARCHAR},
			</if>
			<if test="record.userNo != null">
				user_no = #{record.userNo, jdbcType=INTEGER},
			</if>
			<if test="record.superiorDeptNo != null">
				superior_dept_no = #{record.superiorDeptNo, jdbcType=INTEGER},
			</if>
			<if test="record.tBoardSpace != null">
				t_board_space = #{record.tBoardSpace, jdbcType=INTEGER},
			</if>
		</set>
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 自定义条件修改所有属性，可修改主键 -->
	<update id="updateByExample">
		update t_department
		<!-- 修改属性，可修改主键 -->
		set
		dept_no = #{deptNo, jdbcType=INTEGER},
		dept_name = #{deptName, jdbcType=VARCHAR},
		user_no = #{userNo, jdbcType=INTEGER},
		superior_dept_no = #{superiorDeptNo, jdbcType=INTEGER},
		t_board_space = #{tBoardSpace, jdbcType=INTEGER}
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 通过主键有选择性的修改某该属性，不可以修改主键 -->
	<update id="updateByPrimaryKeySelective" parameterType="z_tknight.oa.model.entity.TDepartment">
		update t_department
		<!-- 修改属性，不可以修改主键 -->
		<set>
			<if test="deptName != null">
				dept_name = #{deptName, jdbcType=VARCHAR},
			</if>
			<if test="userNo != null">
				user_no = #{userNo, jdbcType=INTEGER},
			</if>
			<if test="superiorDeptNo != null">
				superior_dept_no = #{superiorDeptNo, jdbcType=INTEGER},
			</if>
			<if test="tBoardSpace != null">
				t_board_space = #{tBoardSpace, jdbcType=INTEGER},
			</if>
		</set>
		<!-- 主键作为条件 -->
		where
		dept_no = #{deptNo, jdbcType=INTEGER} 
	</update>

	<!-- 通过主键修改属性，不可以修改主键 -->
	<update id="updateByPrimaryKey" parameterType="z_tknight.oa.model.entity.TDepartment">
		update t_department
		<!-- 修改属性，不可以修改主键 -->
		set
		dept_name = #{deptName, jdbcType=VARCHAR},
		user_no = #{userNo, jdbcType=INTEGER},
		superior_dept_no = #{superiorDeptNo, jdbcType=INTEGER},
		t_board_space = #{tBoardSpace, jdbcType=INTEGER}
		<!-- 主键作为条件 -->
		where
		dept_no = #{deptNo, jdbcType=INTEGER} 
	</update>
</mapper>