<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z_tknight.oa.persist.mapper.TUserNoticeMapper" >

	<!-- pojo类属性和对应表的结果集映射关系 -->
	<resultMap id="BaseResultMap" type="z_tknight.oa.model.entity.TUserNotice">
		<id column="notice_no" property="noticeNo" jdbcType="INTEGER" />
		<result column="from_user_id" property="fromUserId" jdbcType="INTEGER" />
		<result column="to_user_id" property="toUserId" jdbcType="INTEGER" />
		<result column="list_name" property="listName" jdbcType="VARCHAR" />
		<result column="board_space_no" property="boardSpaceNo" jdbcType="INTEGER" />
		<result column="board_space_name" property="boardSpaceName" jdbcType="VARCHAR" />
		<result column="board_no" property="boardNo" jdbcType="INTEGER" />
		<result column="board_name" property="boardName" jdbcType="VARCHAR" />
		<result column="card_no" property="cardNo" jdbcType="INTEGER" />
		<result column="card_title" property="cardTitle" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件从句 -->
	<sql id="Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<!-- 条件从句 -->
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		notice_no,
		from_user_id,
		to_user_id,
		list_name,
		board_space_no,
		board_space_name,
		board_no,
		board_name,
		card_no,
		card_title
	</sql>
	<!-- 统计符合自定义条件的数据个数 -->
	<select id="countByExample" parameterType="z_tknight.oa.model.entity.TUserNoticeExample"
		resultType="java.lang.Integer">
		select count(*) from t_user_notice
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<!-- 自定义条件删除数据 -->
	<delete id="deleteByExample" parameterType="z_tknight.oa.model.entity.TUserNoticeExample">
		delete from t_user_notice
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<!-- 根据主键删除单条数据 -->
	<delete id="deleteByPrimaryKey">
		delete from t_user_notice
		<!-- 传入主键作为条件 -->
		where
		notice_no = #{noticeNo, jdbcType=INTEGER} 
	</delete>

	<!-- 插入单条数据 -->
	<insert id="insert" parameterType="z_tknight.oa.model.entity.TUserNotice">
		insert into t_user_notice (
			notice_no,
			from_user_id,
			to_user_id,
			list_name,
			board_space_no,
			board_space_name,
			board_no,
			board_name,
			card_no,
			card_title
		)
		values (
			#{noticeNo, jdbcType=INTEGER},
			#{fromUserId, jdbcType=INTEGER},
			#{toUserId, jdbcType=INTEGER},
			#{listName, jdbcType=VARCHAR},
			#{boardSpaceNo, jdbcType=INTEGER},
			#{boardSpaceName, jdbcType=VARCHAR},
			#{boardNo, jdbcType=INTEGER},
			#{boardName, jdbcType=VARCHAR},
			#{cardNo, jdbcType=INTEGER},
			#{cardTitle, jdbcType=VARCHAR}
		)
	</insert>

	<!-- 有选择的插入单条数据 -->
	<insert id="insertSelective" parameterType="z_tknight.oa.model.entity.TUserNotice">
		insert into t_user_notice
		<!-- 前缀为"("、后缀为")"、去掉最后一个"," -->
		<!-- 插入属性 -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="noticeNo != null">
				notice_no,
			</if>
			<if test="fromUserId != null">
				from_user_id,
			</if>
			<if test="toUserId != null">
				to_user_id,
			</if>
			<if test="listName != null">
				list_name,
			</if>
			<if test="boardSpaceNo != null">
				board_space_no,
			</if>
			<if test="boardSpaceName != null">
				board_space_name,
			</if>
			<if test="boardNo != null">
				board_no,
			</if>
			<if test="boardName != null">
				board_name,
			</if>
			<if test="cardNo != null">
				card_no,
			</if>
			<if test="cardTitle != null">
				card_title,
			</if>
		</trim>
		<!-- 插入内容 -->
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="noticeNo != null">
				#{noticeNo, jdbcType=INTEGER},
			</if>
			<if test="fromUserId != null">
				#{fromUserId, jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				#{toUserId, jdbcType=INTEGER},
			</if>
			<if test="listName != null">
				#{listName, jdbcType=VARCHAR},
			</if>
			<if test="boardSpaceNo != null">
				#{boardSpaceNo, jdbcType=INTEGER},
			</if>
			<if test="boardSpaceName != null">
				#{boardSpaceName, jdbcType=VARCHAR},
			</if>
			<if test="boardNo != null">
				#{boardNo, jdbcType=INTEGER},
			</if>
			<if test="boardName != null">
				#{boardName, jdbcType=VARCHAR},
			</if>
			<if test="cardNo != null">
				#{cardNo, jdbcType=INTEGER},
			</if>
			<if test="cardTitle != null">
				#{cardTitle, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 查询符合自定义条件的数据 -->
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="z_tknight.oa.model.entity.TUserNoticeExample">
		select
		<!-- 判断是否使用distinct查询 -->
		<if test="distinct">
			distinct
		</if>
		<!-- 查询字段 -->
		<include refid="Base_Column_List" />
		from t_user_notice
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<!-- 判断是否指定排序从句 -->
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!-- 根据主键查询单条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user_notice
		<!-- #表示占位符、$表示拼接 -->
		where
		notice_no = #{noticeNo, jdbcType=INTEGER} 
	</select>

	<!-- 自定义条件的有选择性的修改某些属性，可修改主键 -->
	<update id="updateByExampleSelective">
		update t_user_notice
		<!-- 修改属性，可修改主键 -->
		<set>
			<if test="record.noticeNo != null">
				notice_no = #{record.noticeNo, jdbcType=INTEGER},
			</if>
			<if test="record.fromUserId != null">
				from_user_id = #{record.fromUserId, jdbcType=INTEGER},
			</if>
			<if test="record.toUserId != null">
				to_user_id = #{record.toUserId, jdbcType=INTEGER},
			</if>
			<if test="record.listName != null">
				list_name = #{record.listName, jdbcType=VARCHAR},
			</if>
			<if test="record.boardSpaceNo != null">
				board_space_no = #{record.boardSpaceNo, jdbcType=INTEGER},
			</if>
			<if test="record.boardSpaceName != null">
				board_space_name = #{record.boardSpaceName, jdbcType=VARCHAR},
			</if>
			<if test="record.boardNo != null">
				board_no = #{record.boardNo, jdbcType=INTEGER},
			</if>
			<if test="record.boardName != null">
				board_name = #{record.boardName, jdbcType=VARCHAR},
			</if>
			<if test="record.cardNo != null">
				card_no = #{record.cardNo, jdbcType=INTEGER},
			</if>
			<if test="record.cardTitle != null">
				card_title = #{record.cardTitle, jdbcType=VARCHAR},
			</if>
		</set>
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 自定义条件修改所有属性，可修改主键 -->
	<update id="updateByExample">
		update t_user_notice
		<!-- 修改属性，可修改主键 -->
		set
		notice_no = #{noticeNo, jdbcType=INTEGER},
		from_user_id = #{fromUserId, jdbcType=INTEGER},
		to_user_id = #{toUserId, jdbcType=INTEGER},
		list_name = #{listName, jdbcType=VARCHAR},
		board_space_no = #{boardSpaceNo, jdbcType=INTEGER},
		board_space_name = #{boardSpaceName, jdbcType=VARCHAR},
		board_no = #{boardNo, jdbcType=INTEGER},
		board_name = #{boardName, jdbcType=VARCHAR},
		card_no = #{cardNo, jdbcType=INTEGER},
		card_title = #{cardTitle, jdbcType=VARCHAR}
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 通过主键有选择性的修改某该属性，不可以修改主键 -->
	<update id="updateByPrimaryKeySelective" parameterType="z_tknight.oa.model.entity.TUserNotice">
		update t_user_notice
		<!-- 修改属性，不可以修改主键 -->
		<set>
			<if test="fromUserId != null">
				from_user_id = #{fromUserId, jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				to_user_id = #{toUserId, jdbcType=INTEGER},
			</if>
			<if test="listName != null">
				list_name = #{listName, jdbcType=VARCHAR},
			</if>
			<if test="boardSpaceNo != null">
				board_space_no = #{boardSpaceNo, jdbcType=INTEGER},
			</if>
			<if test="boardSpaceName != null">
				board_space_name = #{boardSpaceName, jdbcType=VARCHAR},
			</if>
			<if test="boardNo != null">
				board_no = #{boardNo, jdbcType=INTEGER},
			</if>
			<if test="boardName != null">
				board_name = #{boardName, jdbcType=VARCHAR},
			</if>
			<if test="cardNo != null">
				card_no = #{cardNo, jdbcType=INTEGER},
			</if>
			<if test="cardTitle != null">
				card_title = #{cardTitle, jdbcType=VARCHAR},
			</if>
		</set>
		<!-- 主键作为条件 -->
		where
		notice_no = #{noticeNo, jdbcType=INTEGER} 
	</update>

	<!-- 通过主键修改属性，不可以修改主键 -->
	<update id="updateByPrimaryKey" parameterType="z_tknight.oa.model.entity.TUserNotice">
		update t_user_notice
		<!-- 修改属性，不可以修改主键 -->
		set
		from_user_id = #{fromUserId, jdbcType=INTEGER},
		to_user_id = #{toUserId, jdbcType=INTEGER},
		list_name = #{listName, jdbcType=VARCHAR},
		board_space_no = #{boardSpaceNo, jdbcType=INTEGER},
		board_space_name = #{boardSpaceName, jdbcType=VARCHAR},
		board_no = #{boardNo, jdbcType=INTEGER},
		board_name = #{boardName, jdbcType=VARCHAR},
		card_no = #{cardNo, jdbcType=INTEGER},
		card_title = #{cardTitle, jdbcType=VARCHAR}
		<!-- 主键作为条件 -->
		where
		notice_no = #{noticeNo, jdbcType=INTEGER} 
	</update>
</mapper>