<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" type="text/css" href="../css/index1.css"/>
	</head>
	<body>
		<nav id="menu">
			<ul> <!--role="navigation" class="hidden"-->
				<li id="user"><a>用户中心</a></li>
				<li><a>退出</a></li>
			</ul>
			<div id="memberMessage">
				
			</div>
		</nav>
		
		<div id="main">
			<div id="left">
				<div id="menuButton">
					<a href="#" class="Click">Click</a>
					<a href="#" class="It">It</a>
				</div>
			</div>
			<div id="center">
				<h2 id="title"></h2>
				<div id="boardList" class="board"></div>
			</div>
			<div id="right">
				<div id="projectList" class="project">
					<ul id="proUl">项目列表
						<input type="text" class="proNameInput" id="proNameInput" value=""/>
						<input type="button" class="proNameButton" id="proNameButton" value="保存"/>
						<span id="proSpanJ" class="demoSpanJ"></span>
					</ul>
				</div>
			</div>
			
		</div>
		<div id="overLay"></div>
		
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/index1.js"></script>
	</body>
</html>
