<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" type="text/css" href="../css/index1.css"/>
	</head>
	<body>
		<nav id="menu">
			<ul> <!--role="navigation" class="hidden"-->
				<li><a href="#">用户中心</a></li>
				<li><a href="#">最近访问</a></li>
				<li><a href="#">通知</a></li>
				<li><a href="#">教学管理系统</a></li>
				<li><a href="#">OA</a></li>
				<li><a href="#">退出</a></li>
			</ul>
		</nav>
		
		<div id="main">
			<div id="left">
				<div id="menuButton">
					<a href="#" class="Click">Click</a>
					<a href="#" class="It">It</a>
				</div>
			</div>
			<div id="center">
				<h2>教学管理系统</h2>
				<div id="boardList" class="board">
					<div>
						<span class="demoSpanX">
					</div>
					<div>
						<span class="demoSpanX">
					</div>
					<div>
						<span class="demoSpanX">
					</div>
					<div>
						<span class="demoSpanJ">
					</div>
				</div>
			</div>
			<div id="right">
				<div id="projectList" class="project">
					<ul>项目列表
						<li><a href="#">教学管理系统</a><span class="demoSpanX"></li>
						<li><a href="#">OA</a><span class="demoSpanX"></li>
						<span class="demoSpanJ">
					</ul>
				</div>
			</div>
			
		</div>
		<div id="overLay"></div>
		
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/index1.js"></script>
	</body>
</html>
