<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TaskList</title>
		<link rel="stylesheet" type="text/css" href="../css/TaskList.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pro.css"/>
	</head>
	<body>
		<nav id="menu">
			<ul> <!--role="navigation" class="hidden"-->
				<li><a>用户中心</a></li>
				<li><a id = memberList>成员</a></li>
				<li><a>退出</a></li>
			</ul>
			<div id="memberMessage">
				
			</div>
		</nav>
		<div id="main">
			<div id="TaskMessage">
				<div id="TaskTopTitle">
					<h4></h4>
					<input type="text" id="TaskTitleInput" value=""/>
					
				</div>
				<div id="comment">
				</div>
				<div id="member">
					<div id="addCardMember">
						<span>添加成员</span>
					</div>
					<input type="text" id="TaskMemberInput" value="请输入用户编号"/>
					<div id="addComment">
						<span>添加评论</span>
						<input type="text" id="TaskCommentInput" value=""/>
					</div>
				</div>
			</div>
			<div id="left">
				<input type="text" id="titleInput" value=""/>
				<input type="submit" id="titleSubmit" value="保存"/>			
				<div id="menuButton">
					<a class="Click">Click</a>
					<a class="It">It</a>
				</div>
			</div>
			
			<div id="top">
			</div>
			
			<div id="TaskArea">
			</div>
		</div>
		<div id="overLay"></div>
		
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/TaskList.js"></script>
	</body>
</html>
