<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z_tknight.oa.persist.complex.mapper.BoardSpaceAndBoardMapper" >

	<!-- pojo类属性和对应表的结果集映射关系 -->
	<resultMap id="BaseResultMap" type="z_tknight.oa.model.dto.BoardSpaceAndBoardDto">
		<id column="board_no" property="board.boardNo" jdbcType="INTEGER" />
		<result column="board_name" property="board.boardName" jdbcType="VARCHAR" />
		<result column="display_no" property="board.displayNo" jdbcType="INTEGER" />
		<result column="start_time" property="board.startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="board.endTime" jdbcType="TIMESTAMP" />
		<result column="board_space_no" property="board.boardSpaceNo" jdbcType="INTEGER" />
		<result column="is_delete" property="board.isDelete" jdbcType="BIT" />
		<result column="user_no" property="board.userNo" jdbcType="INTEGER" />
		<result column="list_order" property="board.listOrder" jdbcType="CLOB" />
		<result column="board_space_no" property="boardSpace.boardSpaceNo" jdbcType="INTEGER" />
		<result column="board_space_name" property="boardSpace.boardSpaceName" jdbcType="VARCHAR" />
		<result column="summary" property="boardSpace.summary" jdbcType="VARCHAR" />
		<result column="category_no" property="boardSpace.categoryNo" jdbcType="INTEGER" />
		<result column="user_no" property="boardSpace.userNo" jdbcType="INTEGER" />
		<result column="is_delete" property="boardSpace.isDelete" jdbcType="BIT" />
		<result column="board_order" property="boardSpace.boardOrder" jdbcType="CLOB" />
	</resultMap>

	<!-- pojo类属性和对应表的结果集映射关系 -->
	<resultMap id="TBoardSpaceResultMap" type="z_tknight.oa.model.entity.TBoardSpace">
		<id column="board_space_no" property="boardSpaceNo" jdbcType="INTEGER" />
		<result column="board_space_name" property="boardSpaceName" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="category_no" property="categoryNo" jdbcType="INTEGER" />
		<result column="user_no" property="userNo" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="BIT" />
		<result column="board_order" property="boardOrder" jdbcType="CLOB" />
	</resultMap>

	<!-- 查询用户可以查看的所有看板空间信息和看板信息 -->
	<select id="selectBoardSpaceAndBoardDetail" resultMap="BaseResultMap">
		select * from 
			<!-- 查询所有可见度大于1,且属于用户所在看板空间的看板 -->
			(select tb.* from 
				(select * from t_board where display_no > 1 and user_no != #{userNo}) tb join 
				(select board_space_no from t_board_space_user where user_no = 1) tbs 
				on tb.board_space_no = tbs.board_space_no
				<!-- 去重过滤 -->
				union
			<!-- 查询所有用户是看板成员的看板 -->
			select tb.* from t_board tb join t_board_user tbu 
			on tbu.user_no = #{userNo} and tbu.board_no = tb.board_no
				union all
			<!-- 查询所有用户创建的看板 -->
			select * from t_board where user_no = #{userNo}) as tb join t_board_space tbs 
		on tb.board_space_no = tbs.board_space_no and tb.is_delete = 0 and tbs.is_delete = 0;
	</select>
	
	<!-- 查询用户可以查看的所有看板空间信息和看板信息 -->
	<select id="selectBoardSpaceByUserNo" resultMap="TBoardSpaceResultMap">
		<!-- 查询指定用户创建的看板空间 -->
		select * from t_board_space where user_no = #{userNo}
			union all
		<!-- 查询指定用户是看板空间成员的普通项目类型看板空间 -->
		select tbs.* from t_board_space tbs join 
			(select board_space_no from t_board_space_user where user_no = #{userNo}) tbsu 
			on (tbs.board_space_no = tbsu.board_space_no and tbs.category_no > 1)
	</select>
	
</mapper>