html
{
	height: 100%;	
}
body
{
	margin: 0;
	height: 100%;
	background-color: #696969;
	perspective:150;
	-webkit-perspective:150; /* Safari and Chrome */
	/*border: 1px solid red;*/
}
#main
{
	width: 100%;
	height: 100%;
	background-color: azure;
	transition: 0.4s;
	z-index: 1;	
}
#left
{
	height: 100%;
	width: 300px;
	display: inline-block;
}
#menuButton
{
    margin-top: 160px;
    position: absolute;
    border: 100px solid azure;
    border-bottom-width: 200px;
    border-top-width: 200px;
    border-right-width: 1px;
	border-left-color: #696969;
	width: 0;
    height: 0;
    cursor: pointer;
}
#menuButton a
{
	position: absolute;
	top: -150px;
	left: -80px;
	font-size: 36px;
	transform: rotate(60deg);
}
#menuButton .It
{
	top: 100px;
	left: -50px;
	transform: rotate(120deg);
}
#menuButton a:hover
{
	
}
#overLay
{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.1);
	display: none;
	z-index: 2;
}
#center
{
	height: 100%;
	width: 660px;
	display: inline-block;
	/*border-left: 1px solid cornflowerblue;
	border-right: 1px solid cornflowerblue;*/
	position: relative;
}
#boardList
{
	width: 660px;
	height: 80%;
	/*border: 1px solid red;*/
	margin: 80px auto;
	position: absolute;
}
h3
{
	display: inline-block;
	margin: 0 auto;
	color: white;
	line-height:120px;
	cursor: default;
	/*border: 1px solid red;*/
}
.demoSpanJ + h3
{
	opacity: 0;
}
.borderNameInput,.proNameInput
{
	position: absolute;
	margin: 34px -52px;
	border: none;
	padding: none;
	padding-left: 20px;
	font-size: 24px;
	width: 100px;
	height: 40px;
	z-index: 10;
	border-radius:6px;
}
.proNameInput
{
	margin-top: -40px;
	margin-left: -110px;
	opacity: 0;
}
.borderNameButton,.proNameButton
{
	position: absolute;
	margin: 0 auto;
	margin-top: 76px;
	border: none;
	background: slategrey;
	color: white;
	border-radius:6px;
	cursor: pointer;
	width: 60px;
	height: 32px;
}
.proNameButton
{
	margin-top: -36px;
	margin-left: 20px;	
	opacity: 0;
}
#boardList .div
{
	width: 200px;
	height: 120px;
	background-color: paleturquoise;
	margin-top: 20px;
	margin-left: 10px;
	display: inline-block;
	opacity: 0;
	text-align:center;
}
#boardList div:hover
{
	
}
h2
{
	position: absolute;
	left: 100px;
}
#right
{
	height: 90%;
	width: 300px;
	display: inline-block;
	border-left: 1px solid #C0C0C0;
	margin-bottom: 40px;
	position: relative;
}
#projectList ul
{
	color: dimgrey;
	font-size: 26px;
	position: absolute;
	top: 80px;
	left: 60px;
	/*animation: appear 0.6s;*/
}
#projectList ul li
{
	list-style: none;
	margin-left: 20px;
	margin-top: 10px;
}
span
{
	display:inline-block; 
	position:absolute;
	cursor: pointer;
	transition: 0.4s;
} 
#right span
{
	position:relative;
}
#boardList div .demoSpanJ
{
	top: 72px;
	left: 86px;
}
.demoSpanJ:before, .demoSpanJ:after
{
	content:''; 
	height:8px; 
	width:28px; 
	display:block; 
	background:#333; 
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px; 
	position:absolute; 
	top:-16px; 
	left:0px;
	z-index:4;
}
.demoSpanJ:after
{
	height:28px; 
	width:8px; 
	top:-26px; 
	left:10px; 
}
#boardList div .demoSpanX
{
	top: 16px;
	left: 168px;
}
.demoSpanX:before, .demoSpanX:after
{
	content:''; 
	height:8px; 
	width:20px; 
	display:block; 
	background:#333; 
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px; 
	position:absolute; 
	top:-10px; 
	left:10px; 
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
	}

.demoSpanX:after
{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}

#menu
{
	width: 300px;
	height: 100%;
	background-color: ivory;
	position: absolute;
	opacity: 0.6;
	transition: 0.4s;
	left: -300px;
	z-index: 10;
}
#memberMessage
{
	width:120px;
	position: absolute;
	left:160px;
	top:260px;
	background-color: ivory;
	border-radius:10px;
	display:none;
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	padding:2px;
}
#memberMessage div
{
	padding:8px;
	border-radius:30px;
	border:1px solid blue;
	width:30px;
}
#memberMessage span
{
	cursor:pointer;
}
#memberMessage span input
{
	width:100px;
	background:white;
	display:none;
}
nav ul li
{
	list-style: none;
	margin-top: 20px;
	transition: 0.4s;
	opacity: 0;
	position: relative;
}
nav ul li:nth-child(1):hover,nav ul li:nth-child(2):hover,
nav ul li:nth-child(3):hover,nav ul li:nth-child(4):hover,
nav ul li:nth-child(5):hover,nav ul li:nth-child(6):hover
{
	-webkit-transform: translate3d(30px,0px,0px);
    -moz-transform: translate3d(30px,0px,0px);
    -ms-transform: translate3d(30px,0px,0px);
    -o-transform: translate3d(30px,0px,0px);
    transform: translate3d(30px,0px,0px);
}
a
{
	text-decoration: none;
	color: dimgrey;
	font-size: 22px;
	cursor: pointer;
}
nav ul
{
	position: absolute;
	top: 25%;
	margin: 0;
	/*border: 1px solid red;*/
}
@keyframes shakeClick
{
	0% { top: -160px; left: -70px;}
	25%{ top: -140px; left: -60px;}
	50% { top: -160px; left: -60px; }
	75%{ top: -150px; left: -80px;}
	100% { top: -140px; left: -70px; }
}
@keyframes shakeIt
{
	0% { top: 110px; left: -40px;}
	25%{ top: 90px; left: -60px;}
	50% { top: 110px; left: -50px; }
	75%{ top: 100px; left: -60px;}
	100% { top: 90px; left: -40px; }
}
@keyframes AppearFromRight 
{
	0% { left: 300px; opacity: 0; }
	/*25%{ left: 250px; opacity: 0.2;}
	50% { left: 200px; opacity: 0.4; }
	75%{ left: 	150px; opacity: 0.6;}*/
	100% { left: 0px; opacity: 1; }
}
@keyframes AppearFromLeft 
{
	0% { left: -300px; opacity: 0; }
	/*25%{ left: -250px; opacity: 0.2;}
	50% { left: -200px; opacity: 0.4; }
	75%{ left: -150px; opacity: 0.6;}*/
	100% { left: 0px; opacity: 1; }
}
@keyframes borderAppear 
{
	0% { transform: scale(0);opacity: 0; }
	100% { transform: scale(1); opacity: 1;}
}
