body:after
{
    content:'';
    display:block;
    clear:both;
    /*height: 700px;
    width: 1200px;*/
}
body
{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    zoom:1;
    margin: 0;
    background-color:lightgreen;
}
#artical
{
    width: auto;
    /*height: 800px;*/
    /*border: 1px solid #c0c0c0;*/
    margin: 0 auto;
    position: relative;
}
#head
{
    width: 28%;
    height: 400px;
    border-top-left-radius: 0.4em 0.4em;
	border-top-right-radius: 0.4em 0.4em;
	border-bottom-right-radius: 0.4em 0.4em;
	border-bottom-left-radius: 0.4em 0.4em;
	background-color:white;
    left:36%;
    top:140%;
    position: absolute;
    /*background: 
    -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #f2f2f2));*/
    animation: move2 0.8s;
    /*animation-fill-mode: forwards;*/
   /*z-index:-1;*/
   transition: 0.4s;
}
#foot
{
	width: 26%;
    height: 408px;
    background-color: white;
    content: '';
    /*box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.4);*/
    border-top-left-radius: 0.4em 0.4em;
	border-top-right-radius: 0.4em 0.4em;
	border-bottom-right-radius: 0.4em 0.4em;
	border-bottom-left-radius: 0.4em 0.4em;
    position:absolute;
    top:160%;
    left:40%;
    display: inline-block;
    /*border: 1px solid black;*/
    z-index:-1;
    /*animation: move1 0.8s;*/
    /*animation-fill-mode: forwards;*/
   transition: 0.4s;
}
#nameTextLogin,#passwordTextLogin,#nameTextRegister,
#passwordTextRegister,#emailTextRegister,
#passwordTextRegisterComfirm
{ 
	width:300px;
	height: 30px;
	margin-left: 30px;
    margin-top: 50px;
    position: absolute;
    padding:10px 10px 4px 10px;
    border: none;
    border-top-left-radius: 0.4em 0.4em;
	border-top-right-radius: 0.4em 0.4em;
	border-bottom-right-radius: 0.4em 0.4em;
	border-bottom-left-radius: 0.4em 0.4em;
	border: 1px solid #C0C0C0;
	/*box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.4);*/
	transition: 0.4s;
}
#nameTextLogin:focus,#passwordTextLogin:focus,
#nameTextRegister:focus,#passwordTextRegister:focus,#emailTextRegister:focus,
#passwordTextRegisterComfirm:focus
{
	border: 1px solid lightgreen;
    box-shadow:none;
}
#nameTextLogin:focus + p,
#passwordTextLogin:focus + p,
#nameTextRegister:focus + p,
#passwordTextRegister:focus + p,
#emailTextRegister:focus + p,
#passwordTextRegisterComfirm:focus + p
{
	animation: PLoginNameMove 0.8s;
	animation-fill-mode: forwards;
}
#passwordTextLogin,#passwordTextRegister
{
	margin-top: 120px;
}
#passwordTextRegisterComfirm
{
	margin-top: 190px;
}
#nameTextRegister
{
	margin-top: 260px;
}
#LoginButton,#RegisterButton
{
	width: 320px;
	height: 50px;
	margin-left: 30px;
	margin-top: 310px;
	border-top-left-radius: 0.4em 0.4em;
	border-top-right-radius: 0.4em 0.4em;
	border-bottom-right-radius: 0.4em 0.4em;
	border-bottom-left-radius: 0.4em 0.4em;
	background-color:darkturquoise;
	box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.4);
	outline: none;
	border: none;
	/* opacity: 0; */
	transition: 0.4s;
	cursor: pointer;
}
#RegisterButton
{
	margin-top: 330px;
}
#PLoginName,#PLoginPassword,#PRegisterName,
#PRegisterPassword,#PRegisterEmail,
#PRegisterPasswordComfirm,#PLoginBtn,#PRegisterBtn /*p标签*/
{
	left: 42px;
	position: absolute;
	top: 46px;
	color: #C0C0C0;
	/*border: 1px solid black;*/
	/*animation: PLoginNameMove 0.8s reverse;
animation-fill-mode: forwards;*/
    	transition: 0.4s;
    }
    #PLoginPassword,#PRegisterPassword
    {
    	top:116px;
    }
    #PRegisterPasswordComfirm
    {
    	top:186px;
    }
    #PRegisterName
    {
    	top:256px;
    }
    #PLoginBtn
    {
    	top: 310px;
    	left: 160px;
    	color: white;
    	cursor: pointer;
    }
    #PRegisterBtn
    {
    	top: 330px;
    	left: 160px;
    	color: white;
    	cursor: pointer;
    }
    input:focus 		
    { 
        outline:none; 
    }
    #loginPage
    {
        margin-left: 42%;
        margin-top: 6%;
        display: inline-block;
        cursor: pointer;
    }
    #registerPage
    {
    	margin-left: 120px;
    	cursor: pointer;
    }
    a
   {
   		text-decoration: none;
   		color: white;
   }
        @-webkit-keyframes PLoginNameMove 
        {
            0% 
            {
                transform: translateX(0px);
                opacity: 1;
            }
            
            100% 
            {
                transform: translateX(30px);
                opacity: 0;
            }
        }
        @-moz-keyframes PLoginNameMove 
        {
            0% 
            {
                transform: translateX(0px);
                opacity: 1;
            }
            
            100% 
            {
                transform: translateX(30px);
                opacity: 0;
            }
        }
        /*@-webkit-keyframes Test 
        {
            0% 
            {
                opacity: 1;
            }
            
            100% 
            {
                opacity: 0;
            }
        }*/
       
       #PRegisterName,#PRegisterPassword,#PRegisterEmail,
        #PRegisterPasswordComfirm,#nameTextRegister,
        #passwordTextRegister,#emailTextRegister,
        #passwordTextRegisterComfirm
        {
        	opacity: 0;
        }
        #RegisterButton
        {
        	opacity: 0;
        }

.demoSpan1
{
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px; 
	border:4px solid red; 
	width:32px; 
	height:32px; 
	position:absolute;
	top: 54px;
	left: 310px;
	display: inline-block;
	opacity: 0;
}
.demoSpan1:before, .demoSpan1:after
{
	content:''; 
	height:6px; 
	width:24px; 
	display:block; 
	background:red; 
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position:absolute; 
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	top:12.5px; 
	left:4px; 
}
.demoSpan1:after
{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}