#TaskArea
{
	width: 100%;
	/*height: 100%;*/
	/*width: 1000px;*//*todo*/
	/*border: 1px solid green;*/
	position: absolute;
	display: inline-block;
	
}
/* #TaskList1,#TaskList2,#TaskList3,#TaskList4
{
	width: 260px;
	border: 1px solid #c0c0c0;
	display: inline-block;
	background: cadetblue;
	background: floralwhite;
	border-radius:4px;
	margin-left: 56px;
	margin-top: 80px;
} */
#createList
{
	width: 260px;
	height: 56px;
	border: 1px solid #c0c0c0;
	display: inline-block;
	margin-left: 56px;
}
#createList p
{
	cursor: pointer;	
	text-align: center;
	line-height: 26px;
	font-size: 20px;
}
.rubish
{
	width: 30px; 
	position: absolute;
	left: 0px; 
	top: 70px;
	z-index: 6;
}
.rubish:hover
{
	cursor: pointer;
}
h3
{
	cursor: default;
}