html
{
	height: 100%;	
}
body
{
	margin: 0;
	height: 100%;
	background-color: #696969;
	perspective:150;
	-webkit-perspective:150; 
	/* Safari and Chrome */
	/*border: 1px solid red;*/
}
#main
{
	width: 100%;
	height: 100%;
	background-color: azure;
	/*border: 6px solid red;*/
	transition: 0.4s;
	position: relative;
	overflow-x:scroll;
	/*z-index: 1;	*/
}
#left
{
	height: 100%;
	width: 300px;
	display: inline-block;
	/*border: 1px solid blue;*/
}
.titleInput
{
	border: none;
	display: block;
	width: 180px;
	height: 80px;
	position: absolute;
	left: 50px;
	padding: none;
	padding-left: 20px;
	font-size: 30px;
	background: azure;
	border-bottom: 1px solid orange;
}
.titleSubmit
{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 90px;
	left: 100px;
	font-size: 20px;
	border: none;
	background: slategrey;
	color: white;
	border-radius:6px;
	cursor: pointer;
	display: none;
}
.titleInput:focus+input
{
	display: inline-block;
}
#top
{
	/*border: 1px solid red;*/
	width: 100%;
	position: absolute;
	display: inline-block;	
}
#top .Listsubmit
{
	display: inline-block;
	position: absolute;
	border: none;
	width: 100px;
	height: 40px;
	/*top: 40px;
	left: 216px;*/
	color: white;
	border-radius:6px;
	cursor: pointer;
	background: slategrey;
	font-size: 16px;
	z-index: 4;
}
.ListTitleInputSpan
{
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	display: inline-block;
	width: 16px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 100px;
	padding: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	background: floralwhite;
	z-index: 6;
	overflow: hidden;
	cursor: pointer;
}
.topDisplayList
{
	width: 260px;
	border: 1px solid #c0c0c0;
	display: inline-block;
	background: floralwhite;
	border-radius:4px;
	position: absolute;
	top: 80px;
	left: 55px;
	z-index: 4;
} 
.ListTitleInput
{
	border: none;
	display: block;
	width: 180px;
	height: 40px;
	position: absolute;
	left: 75px;
	top: 100px;
	padding: none;
	padding-left: 20px;
	font-size: 26px;
	background: white;
	z-index: 6;
	display: none;
}
.ListTitleSubmit
{
	width: 80px;
	height: 42px;
	position: absolute;
	top: 146px;
	left: 120px;
	font-size: 20px;
	border: none;
	background: slategrey;
	color: white;
	border-radius:6px;
	cursor: pointer;
	z-index: 6;
	display: none;
}
#menuButton
{
    margin-top: 160px;
    position: relative;
    border: 100px solid azure;
    border-bottom-width: 200px;
    border-top-width: 200px;
    border-right-width: 1px;
	border-left-color: #696969;
	width: 0;
    height: 0;
    cursor: pointer;
}
#menuButton a
{
	position: absolute;
	top: -150px;
	left: -80px;
	font-size: 36px;
	transform: rotate(60deg);
}
#menuButton .It
{
	top: 100px;
	left: -50px;
	transform: rotate(120deg);
}
#overLay
{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.1);
	display: none;
	z-index: 2;
}
#menu
{
	width: 300px;
	height: 100%;
	background-color: ivory;
	position: absolute;
	opacity: 0.6;
	transition: 0.4s;
	left: -300px;
	z-index: 10;
}
nav ul li
{
	list-style: none;
	margin-top: 20px;
	transition: 0.4s;
	opacity: 0;
	position: relative;
	/*animation: appear 0.6s;*/
}
nav ul li:nth-child(1):hover,nav ul li:nth-child(2):hover,
nav ul li:nth-child(3):hover,nav ul li:nth-child(4):hover,
nav ul li:nth-child(5):hover,nav ul li:nth-child(6):hover
{
	-webkit-transform: translate3d(30px,0px,0px);
    -moz-transform: translate3d(30px,0px,0px);
    -ms-transform: translate3d(30px,0px,0px);
    -o-transform: translate3d(30px,0px,0px);
    transform: translate3d(30px,0px,0px);
}
a
{
	text-decoration: none;
	color: dimgrey;
	font-size: 22px;
}
nav ul
{
	position: absolute;
	top: 25%;
	margin: 0;
	/*border: 1px solid red;*/
}
@keyframes shakeClick
{
	0% { top: -160px; left: -70px;}
	25%{ top: -140px; left: -60px;}
	50% { top: -160px; left: -60px; }
	75%{ top: -150px; left: -80px;}
	100% { top: -140px; left: -70px; }
}
@keyframes shakeIt
{
	0% { top: 110px; left: -40px;}
	25%{ top: 90px; left: -60px;}
	50% { top: 110px; left: -50px; }
	75%{ top: 100px; left: -60px;}
	100% { top: 90px; left: -40px; }
}
@keyframes AppearFromRight 
{
	0% { left: 300px; opacity: 0; }
	/*25%{ left: 250px; opacity: 0.2;}
	50% { left: 200px; opacity: 0.4; }
	75%{ left: 	150px; opacity: 0.6;}*/
	100% { left: 0px; opacity: 1; }
}
@keyframes AppearFromLeft 
{
	0% { left: -300px; opacity: 0; }
	/*25%{ left: -250px; opacity: 0.2;}
	50% { left: -200px; opacity: 0.4; }
	75%{ left: -150px; opacity: 0.6;}*/
	100% { left: 0px; opacity: 1; }
}
